################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AccesoBD/FileContentIndex/ba47ea3e-054d-44d8-8ead-ae1ccaf880f7.vsidx
